html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#map {
  height: 100vh;
}

.lottie-player1 {
  z-Index: 1000;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.lottie-player2 {
  z-Index: 1000;
  margin: auto;
  width: 50vh;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}

path {
  pointer-events: auto;
}

#over{
  background-color: transparent;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 50vh;
  transform: translate(-50%,-50%);
}

.box {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30vh 20vh;
  height: 50vh;
  width: 50vw;
  background: #F7E4E0;
  grid-template-areas: 
  "header header"
  "main main";
  border-radius: 50px;
  border: 3px solid black;
  margin: 0;
}

.box > h1 {
  font-size: 2vw;
  text-align: center;
  background-color: transparent;
  margin: 0;
  grid-area: header;
  place-self: center stretch;
}

.box > .button1 {
  z-Index: 2000;
  font-size: 3vw;
  margin: 2vw;
  background-color: #D7B7BC;
  border-radius: 50px;
  border: 3px solid black;
  box-shadow: 0 9px #999;
}

.box > .button1:active {
  background-color: #FF9E80;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.box > .button2 {
  z-Index: 2000;
  font-size: 3vw;
  margin: 2vw;
  background-color: #8BA6E9;
  border-radius: 50px;
  border: 3px solid black;
  box-shadow: 0 9px #999;
}

.box > .button2:active {
  background-color: #82CAAF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}