html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#map {
  height: 100vh;
}

.lottie-player {
  z-Index: 1000;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#over{
  background-color: transparent;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 50vh;
  height: 50vh;
  transform: translate(-50%,-50%);
}

.box {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: auto;
  height: 50vh;
  padding-bottom: 10vh;
  background-color: black;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header"
  "main main";
}

.box > h1 {
  font-size: 20px;
  margin: 0 0 1rem 0;
  padding-top: 15px;
  text-align: center;
  /* border: solid 1px; */
  border-radius: 10px;
  background: white;
  grid-column-start: 1;
  grid-column-end: 6;
  
}

.box > button {
  grid-column-start: 1;
  grid-column-end: 2;
}

